pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
openai
tiktoken
chromadb
sentence-transformers
wikipedia
langgraph
pinecone
langchain_pinecone
langchain_huggingface
langchain_google_genai
